@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik";
  color: black;
}

body {
  background: url("./images/dinerBackground.jpg");
  background-attachment: fixed;
  font-family: "Raleway";
  color: rgb(10 43 63);
  margin: 0;
  background-color: rgb(7 74 152);
}

nav {
  box-shadow: rgb(0 0 0 / 25%) 6px 8px 6px;
  background-color: rgb(10 43 63);
  position: fixed;
  top: 0;
  width: 100%;
}

nav > button {
  font-family: "Rubik";
  border: none;
  background-color: rgb(10 43 63);
  color: white;
  font-size: 1.3rem;
  padding: 15px 25px;
}

nav > button:hover {
  background-color: rgb(7 74 152);
}

nav > button.selected {
  border-bottom: 5px solid white;
  padding-bottom: 10px;
}

.logo {
  width: 200px;
  height: auto;
}

.welcome-container {
  background-color: rgb(255, 255, 255);
  max-width: 750px;
  min-width: 400px;
  padding: 40px;
  margin: 110px auto 40px auto;
  align-items: center;
  text-align: center;
}

.welcome-container > p {
  margin: 20px 0px;
  padding: 30px;
  border-radius: 10px;
  color: rgb(10 43 63);
}

.imageCarousel {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 200px));
  justify-content: center;
  gap: 15px;
  padding: 50px 0;
  background-color: rgb(176, 0, 0);
}

.imageCarousel > img {
  border-radius: 50%;
  height: auto;
  max-width: 100%;
}

.restaurantInfo {
  margin-top: 40px;
  text-align: center;
  background-color: white;
  padding: 15px;
}

ul {
  list-style-type: none;
  padding: 0px 0px 15px 0px;
}

footer {
  padding: 5px 10px;
  background-color: rgb(8 73 152);
  color: white;
}
